*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.calculator{
    display : flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
form{
    background-color: #3a4452;
    border-radius: 10px;
    width:350px;
    height:460px;
    padding:10px;
}
.buttons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
nav{
    display:flex;
    gap: 10px;
}
.calculator form input{
    height:60px;
    width:60px;
   border-radius: 10px;
   background: transparent;
   color:#fff;
   cursor:pointer;
   box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
}
.calculator form input.last{
    width:130px;
}
form input.display{
    display:flex;
    justify-content: flex-end;
    text-align: right;
    flex:1;
    width:320px;
    height:80px;
   box-shadow: none;
   font-size: 45px;
   border:none;
}
